<!DOCTYPE html>
<html>

<head>
   <title>Product Management System</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />

   <script src="/scripts/materialize.js"></script>

   <script src="/scripts/validation.js"></script>

   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body background="https://media.istockphoto.com/id/475511846/vector/kitchen-seamless-pattern-vector-background.jpg?s=612x612&w=0&k=20&c=inpW5Mc2MFyuc7PsMXVY49OUBU39EXekcCNe8xVeI_k=">

   <div class="row">
      {{{body}}}
   </div>

</body>

</html>