<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/scripts/materializecss.js"></script>
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  </head>
  <body>
    
    {{!------Navigation bar ------}}
    <div class="container">
    <nav class="bold upper">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="">Home</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="">Order</a></li>
        <li>
          <a type="button" href="/auth/logout">LOGOUT</a>
        </li>

      </ul>
    </div>
  </nav>


    {{{body}}}

        {{!------Footer------}}
        <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2024 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

  </div>
  </body>
</html>
