.body-1 {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color:#808080	;
}

.body-2 {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-color:azure;
}

.body-3 {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background-color:#436060 ;
}

a {
  color: #00B7FF;
}

.error{
  color: red;
  background-color: yellow;
}


main {
  flex: 1 0 auto;
}

h5{
  color:white; 
  text-align: center;
  font-weight: bold;

}





