
<div class="container col s6" style="background-color: #606666;">
<form action="" method="post">
   <h5 class="center-align bold">NEW PRODUCT</h5>
   <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Product name:</label>
         <input class="validate" type="text" name="name" id="" required minlength="3" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Product price</label>
         <input class="validate" type="number" name="price" id="" required min="1" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Product quantity</label>
         <input class="validate" type="number" name="remaining" id="" required min="1" autocomplete="off">
      </div>
   </div>
      <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Product sold</label>
         <input class="validate" type="number" name="sold" id="" required min="1" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Product image</label>
         <input class="validate" type="text" name="image" id="" required autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4">
         <label for="">Product category</label>
   <select name="category" id="">
    {{#each categoryList }}
    <option value="{{_id}}">
      {{ name }}
    </option>
    {{/each}}
  </select>
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label for="">Description</label>
         <input class="validate" type="text" name="description" id="" required minlength="1" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4 center-align">
         <input class="btn" type="submit" value="Add">
      </div>
   </div>
   
</form>
</div>

