
<div
  class="container col s6"
  style="background-color: #667470; border-radius: 10px; padding: 15px"
>
  <form action="" method="post">
    <h5 class="center-align bold"><b>ADD MANAGER</b></h5>
    <div class="row mb-4">
      <label for=""><b>Name</b></label>

      <div class="form-outline" style="padding-top: 5px">
        <input
          class="validate form-control"
          type="text"
          name="name"
          id="name"
          required
          minlength="3"
          autocomplete="off"
          placeholder="Name"
        />
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <label for=""><b>Password</b></label>
        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="password"
            name="password"
            id="password"
            required
            min="1"
            autocomplete="off"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="col">
        <label for=""><b>Retype Passoword</b></label>
        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="password"
            name="retype"
            id="retype"
            required
            min="1"
            autocomplete="off"
            placeholder="Retype password"
          />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <label for=""><b>Date of birth</b></label>

        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="date"
            name="dob"
            id="dob"
            required
            min="1"
            autocomplete="off"
          />
        </div>
      </div>
      <div class="col">
        <label for=""><b>Gender</b></label>

        <div class="form-outline" style="padding-top: 5px">
          <input
            class="validate form-control"
            type="text"
            name="gender"
            id="gender"
            required
            min="1"
            autocomplete="off"
            placeholder="Gender"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <label for=""><b>Email</b></label>

      <div class="form-outline mb-4" style="padding-top: 5px">
        <input
          class="validate form-control"
          type="text"
          name="email"
          id="email"
          required
          autocomplete="off"
          placeholder="Email"
        />
      </div>
    </div>

    <div class="row">
      <label for=""><b>Address</b></label>
      <div class="form-outline mb-4" style="padding-top: 5px">
        <input
          class="form-control"
          id="address"
          placeholder="Address"
          type="text"
          autocomplete="off"
          name="address"
          minlength="1"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-outline mb-4">
        <input class="btn btn-success" type="submit" value="Add" />
      </div>
    </div>

  </form>
</div>

{{!-- <div class="container col s6" style="background-color: #606666;"> --}}
{{!-- <form action="/manager/add" method="post">
   <h5 class="center-align bold">ADD MANAGER</h5>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Name</label>
         <input class="validate" type="text" name="name" required id="name" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Password</label>
         <input class="validate" type="password" name="password" required id="password" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Retype Password</label>
         <span class="retype_error"></span>
         <input class="validate" type="password" name="retype" required id="retype" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Date of birth</label>
         <br><br>
         <span class="retype_error"></span>
         <input class="validate" type="date" name="dob" required id="dob" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Gender</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="gender" required id="gender" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Address</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="address" required id="address" autocomplete="off">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4">
         <label>Email</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="email" required id="email" autocomplete="off">
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col s12 m4 center-align">
         <input class="btn" type="submit" value="Add">
      </div>
   </div>
</form>
</div> --}}
{{!-- -------------------------------------- --}}