<form action="/manager/add" method="post">
   <h4 class="center-align bold">Add new manager</h4>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Name</label>
         <input class="validate" type="text" name="name" required id="">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Password</label>
         <input class="validate" type="password" name="password" required id="password">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Retype Password</label>
         <span class="retype_error"></span>
         <input class="validate" type="password" name="retype" required id="retype">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Date of birth</label>
         <br><br>
         <span class="retype_error"></span>
         <input class="validate" type="date" name="dob" required id="dob">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Gender</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="gender" required id="gender">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Address</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="address" required id="address">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Email</label>
         <span class="retype_error"></span>
         <input class="validate" type="text" name="email" required id="email">
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <input class="btn" type="submit" value="Add">
      </div>
   </div>
</form>